@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #1d2530;
    font-family: "Urbanist", sans-serif;
    color: white;
    padding: 60px 50px 40px; /* top(60), left-right(50), bottom(40) */    
}

h1 {
    margin-bottom: 30px;
}

.container {
    max-width: 550px;
    width: 100%; 
}

.input-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-content p {
    font-size: 16px;
    margin: 0 0 10px 15px; /* top, right, bottom, left */ 
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 150px; /* Large numbers make the capsule input shape */
}

.btn-submit {
    padding: 10px 20px 10px 20px;
    border-radius: 150px;
    background-color: rgb(19, 82, 19);
    color: white;
    margin: 10px 0 0 5px;
    font-size: 15px;
    font-weight: 400; 
}


